
/* universal */
html {
    box-sizing: border-box;
    background-color: #ffeead;
}

.container {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    grid-gap: 5px;
}



.sel-all {
    grid-column: 1 / -1;
}

/* navigation section */

header {
    background-color: #96ceb4;	
    z-index: 1000;
}

nav a {
    list-style-type: none;
}

/* banner section */
.banner {
    background-color: #ffcc5c;
}



/* about me section */
.about-me {
    background-color: #ff6f69;
}


/* projects section */
.projects {
    background-color: skyblue;
}


/* footer */
footer {
     background-color: #96ceb4;
}