
/* universal */
html {
    box-sizing: border-box;
    background-color: #ffeead;
}

.container {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    grid-gap: 5px;
}



.sel-all {
    height: 100%;
}

/* navigation section */

header {
    background-color: #96ceb4;	
    z-index: 1000;
}

.inner-header {
    display: block;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(218, 42, 42);
}

.logo-container {
    display: table;
    height: 100%;
    float: left;
}

.logo-container h1 {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-size: 32px;
}

.header-menu {
    float: right;
    height: 100%;
}

.header-menu a {
    display: table;
    height: 100%;
    float: left;
    padding: 0 14px;
    list-style-type: none;
}

.header-menu a: last child {
    padding-right: 0;
}

.header-menu a li {
    display: table-cell;
    height: 100%;
    font-size: 16px;
}

/* banner section */
.banner {
    background-color: #ffcc5c;
}



/* about me section */
.about-me {
    background-color: #ff6f69;
}


/* projects section */
.projects {
    background-color: skyblue;
}


/* footer */
footer {
     background-color: #96ceb4;
}